1- can view top youth members
2- can view all youth members
3- can add/edit/view coming events
4- can see events history
5- Can send feedback anynomousely
6- Admin Can create quizes for Youth
7- Youth can login with user name and password
8- user can answer quiz
9- Admin can create albums
10- Youth can upload pics to existing albums
11- Youth can post articles / posts
12- Admin can send notes to youth members (it can be private or public)
13-  
