{% load static %}

<link rel="stylesheet" href="{% static "css/article-lists/article-list-basic.css" %}">

{% if event_list %}
    <ul class="article-list-basic">
        {% for event in event_list %}
        <li>
            <a href="#">
                <img src={{event.imageurl}} />
            </a>
            <div>
                <h2><a href="#">{{ event.name }}</a></h2>
                <p>{{ event.date_time }}</p>
                <p>{{ event.description }}</p>
                <a href="#" class="read-more">Register</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'members:all_events' %} ">Show all events</a> -->
{% else %}
    <p>No events are available.</p>
{% endif %}




</body>

</html>
