{% load static %}

<link rel="stylesheet" href="{% static "css/article-lists/article-list-basic.css" %}">

<h2><a href="#">Top 10 Tamkeen Members</a></h2>
{% if youth_list %}
    <ul class="article-list-basic">
        {% for youth in youth_list %}
        <li>
            <a href="#">
                <img src={{youth.imageurl}}/>
            </a>
            <div>
                <h2><a href="#">{{ youth.name }}</a></h2>
                <p>{{ youth.date_of_birth }}</p>
                <a href="#" class="read-more">Read more &rarr;</a>
            </div>
        </li>
        {% endfor %}
    </ul>
     <a href="{% url 'members:all_members' %} ">Show All</a>
{% else %}
    <p>No youth are available.</p>
{% endif %}




</body>

</html>
