{% load static %}

<link rel="stylesheet" href="{% static "css/article-lists/article-list-thumbnails.css" %}">

<h2><a href="#">All events history</a></h2>
{% if event_list %}
    <ul class="article-list-thumbnails">
        {% for event in event_list %}
        <li>
            <a href="#">
                <img src="{% static event.image %}" />
            </a>
            <div>
                <h2><a href="#">{{ event.name }}</a></h2>
                <p>{{ event.date_time }}</p>
                <p>{{ event.description }}</p>
                <a href="#" class="read-more">Register</a>
            </div>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No events are available.</p>
{% endif %}




</body>

</html>
