{% load static %}


<link href="{% static "/css/attendance.css" %}" rel="stylesheet">
<link href ="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script data-cfasync="false" type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<!-- Bootstrap Core CSS -->
<link href="{% static "/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
<link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">


<script>
$(document).ready(function() {
  var today = moment().format('YYYYMMDD');

  url = "/api/attendance/" + today

  $('#example tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input style="width:100px" type="text" placeholder="'+title+'" />' );
    } );

  var t = $('#example').DataTable({
    paging: false,
    ajax: "",
    createdRow: function ( row, data, index ) {
            console.log(data);
            if ( data[8]) { // if checked-out
              $(row).css("background-color", "#d5f49e");
              $(row).find("input,button,textarea,select").attr("disabled", "disabled");
            }
            if (data[7]){ // if checkedin
              $(row).find(".checkout").show();
            }else{
              $(row).find(".checkout").hide();
            }
        }
  });

  // Apply the search
  t.columns().every( function () {
      var that = this;
      $( 'input', this.footer() ).on( 'keyup change', function () {
          if ( that.search() !== this.value ) {
              that
                  .search( this.value )
                  .draw();
          }
      } );
  } );

  $('#datetimepicker').datetimepicker({
    defaultDate: new Date()
  });

  getAttendanceSheet(t, today);
  $('#datetimepicker').on('dp.change', function(e){
    getAttendanceSheet(t, e.date.format("YYYYMMDD"));
  })

  $(function(){
      setInterval(refreshAttendanceSheet, 30000);
    });

    function refreshAttendanceSheet() {
      getAttendanceSheet(t, $('#datetimepicker').data("DateTimePicker").date().format("YYYYMMDD"));
    }

} );

function saveAttendance(user_id)
{
  checked_in = false
  if ($("#checkbox" + user_id).is(':checked'))
    checked_in = true
  date = $('#datetimepicker').data("DateTimePicker").date().format("YYYYMMDD hh:mm:ss");

  data = { userId: user_id, checked: checked_in, date: date }
  $.ajax({
      type: "POST",
      url: "/api/attendance/checkin",
      data: JSON.stringify(data),
      success: function(result) {
           // Show checkout button if checked_in
           if (checked_in){
             $("#checkoutbtn-" + user_id).show();

           }else {
             $("#checkoutbtn-" + user_id).hide();
           }

      },
      error: function(xhr, status, error) {
        console.log(error);
      }
  });
}

function checkout(user_id, element)
{
  date = $('#datetimepicker').data("DateTimePicker").date().format("YYYYMMDD hh:mm:ss");

  data = { userId: user_id, date: date }
  $.ajax({
      type: "POST",
      url: "/api/attendance/checkout",
      data: JSON.stringify(data),
      success: function(result) {
        var tr = $(element).closest('tr');
        tr.css("background-color", "#d5f49e");
        tr.find("input,button,textarea,select").attr("disabled", "disabled");
      },
      error: function(xhr, status, error) {
        console.log(error);
      }
  });
}

function getAttendanceSheet(table, sheet_date)
{
  table.clear();
  $.ajax({
             type: "GET",
             dataType: "json",
             url: "/api/attendance/"+ sheet_date,
             success: function(data){
               $('.progress-bar').css('width', data.attendance_perc+'%').attr('aria-valuenow', data.attendance_perc);
               $('.progress-bar').text('Attendance: '+data.attendance_perc + '%')

               $('.total_checkedin').text(data.attendance_stats.total_checkedin)
               $('.total_checkedout').text(data.attendance_stats.total_checkedout)
               $('.total_male_checkedin').text(data.attendance_stats.total_male_checkedin)
               $('.total_female_checkedin').text(data.attendance_stats.total_female_checkedin)
               $('.total_male_checkedout').text(data.attendance_stats.total_male_checkedout)
               $('.total_female_checkedout').text(data.attendance_stats.total_female_checkedout)


               data.result.forEach(function(entry) {
                 uw_waiver = entry["uw_waiver"]
                 photo = entry["photo"]
                 checked_in = entry["checked_in"]
                 checked_out = entry["checked_out"]
                 checkbox = "<input id='checkbox" + entry["id"] + "'  type='checkbox' onclick='saveAttendance(" + entry["id"] + ");'"
                 if (checked_in)
                 {
                    checkbox += "checked";
                 }
                 checkbox += "></input>"
                 row = table.row.add( [
                     checkbox,
                     entry["first_name"],
                     entry["last_name"],
                     entry["gender"],
                     entry["checked_in_time"],
                     entry["checked_out_time"],
                     "<input id='checkoutbtn-" + entry["id"] + "' type='button' value='Check-out' class='btn btn-primary checkout' onclick='checkout(" + entry["id"] + ", this);'/> ",
                     checked_in,
                     checked_out

                 ] ).draw( false );

                 $(row).css("background-color", "red");
               }
         )}
       });
}
</script>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default  navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Attendacne Sheet</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li class="page-scroll">
                        <a href="/">Home</a>
                    </li>
                 </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="container">
    <button type="button" class="btn btn-success">
      Total Checkedin <span class="badge badge-light total_checkedin">0</span>
    </button>
    <button type="button" class="btn btn-primary ">
      Total Male Checkedin <span class="badge badge-light total_male_checkedin">0</span>
    </button>
    <button type="button" class="btn btn-danger">
      Total Female Checkedin <span class="badge badge-light total_female_checkedin">0</span>
    </button>
    <button type="button" class="btn btn-success">
      Total Checkedout <span class="badge badge-light total_checkedout">0</span>
    </button>
    <button type="button" class="btn btn-primary">
      Total Male Checkedout <span class="badge badge-light total_male_checkedout">0</span>
    </button>
    <button type="button" class="btn btn-danger">
      Total Female Checkedout <span class="badge badge-light total_female_checkedout">0</span>
    </button>
  </div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70"
      aria-valuemin="0" aria-valuemax="100" style="width:0%">
     </div>
  </div>
  <table id="example" class="display" cellspacing="0" width="100%">
          <thead>
              <tr>
                  <th></th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Gender</th>
                  <th>Checkin</th>
                  <th>Checkout</th>
                  <th></th>
              </tr>
          </thead>
          <tfoot>
              <tr>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Checkin</th>
                <th>Checkout</th>
                <th></th>
              </tr>
          </tfoot>

      </table>

  </body>


  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
  <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
