{% load static %}

<link href="{% static "/css/attendance.css" %}" rel="stylesheet">
<link href ="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script data-cfasync="false" type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<!-- Bootstrap Core CSS -->
<link href="{% static "/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
<link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">

<style>
  tr > th:nth-of-type(9),
  tr > td:nth-of-type(9) {
  display: none;
  }

  td{
    font-size: 15pt;
  }
</style>

<script>
$(document).ready(function() {
  var today = moment().format('YYYYMMDD');

  url = "/rest/members/attendance/" + today
  var t = $('#example').DataTable({
    paging: false,
    ajax: ""
  });

  $('#datetimepicker').datetimepicker({
    defaultDate: new Date()
  });

  getSheet(t, today);
  $('#datetimepicker').on('dp.change', function(e){
    getSheet(t, e.date.format("YYYYMMDD"));
  })

  $(function(){
      setInterval(oneSecondFunction, 30000);
    });

    function oneSecondFunction() {
      getSheet(t, $('#datetimepicker').data("DateTimePicker").date().format("YYYYMMDD"));
  }

} );

function saveAttendance(user_id)
{
  checked = false
  if ($("#checkbox" + user_id).is(':checked'))
    checked = true
  date = $('#datetimepicker').data("DateTimePicker").date().format("YYYYMMDD hh:mm:ss");

  data = { userId: user_id, checked: checked, date: date }
  $.ajax({
      type: "POST",
      url: "/rest/members/attendance/new",
      data: JSON.stringify(data),
      success: function(result) {

      },
      error: function(xhr, status, error) {
        console.log(error);
      }
  });
}

function getSheet(table, sheet_date)
{
  console.log(sheet_date);
  table.clear();
  $.ajax({
             type: "GET",
             dataType: "json",
             url: "/rest/members/attendance/"+ sheet_date,
             success: function(data){
               data.forEach(function(entry) {
                 uw_waiver = entry["uw_waiver"]
                 photo = entry["photo"]
                 attended_today = entry["attendance"]
                 checkbox = "<input id='checkbox" + entry["id"] + "'  type='checkbox' onclick='saveAttendance(" + entry["id"] + ");'"
                 if (attended_today == true)
                 {
                    checkbox += "checked";
                 }
                 checkbox += "></input>"
                 row = table.row.add( [
                     checkbox,
                     entry["first_name"],
                     entry["last_name"],
                     entry["gender"],
                     entry["datetime"],
                 ] ).draw( false );
             }
         )}
       });
}
</script>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default  navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Attendacne Sheet</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li class="page-scroll">
                        <a href="/">Home</a>
                    </li>
                 </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
  </div>
  <table id="example" class="display" cellspacing="0" width="100%">

          <thead>
              <tr>
                  <th></th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Gender</th>
                  <th>Time</th>
              </tr>
          </thead>

          <tfoot>
              <tr>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Time</th>
              </tr>
          </tfoot>
      </table>

  </body>


  <script type="text/javascript">
      $(function () {

      });
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
  <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
