{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tamkeen</title>
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

    <!-- Bootstrap Core CSS -->
    <link href="{% static "/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Theme CSS -->
    <link href="{% static "css/styles.css" %}"  rel="stylesheet">
    <link href="{% static "css/competition.css" %}"  rel="stylesheet">
    <link href="{% static "css/question.css" %}"  rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/product-lists/product-list-vertical.css" %}">
    <link rel="stylesheet" href="{% static "css/image-lists/image-list-basic.css" %}">
    <link rel="stylesheet" href="{% static "css/product-lists/product-list-basic.css" %}">
    <link rel="stylesheet" href="{% static "css/animate.css" %}">
    <link href="{% static "css/videos.css" %}"  rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>
<body style="background-color: #617487">
    <a class="btn btn-primary" href="/">Back to home page</a>
    <h1 class="text-center">Ramadan Competition</h1>
    <h3 class="text-center">"Carry the Message"</h3>
    <hr class="star-light">
    <div class="row">
        <div class="col-md-12">
            <a href="{% static 'images/competitionImg.jpeg' %}">
                <img src="{% static 'images/competitionImg.jpeg' %}" alt="">
            </a>
        </div>
        <div class="col-md-12">
            <h2 class="text-center">Please Choose One of these Topics</h2>
            <h6 class="text-center">Note: "These topics is based and adapted from the topics published from this website<a href="https://muslimmatters.org/2018/01/16/14-topics-all-islamic-schools-should-address-during-high-school-dr-shadee-elmasry/?fbclid=IwAR099NvpknF1lTDITI89kF6subDOldmlSbYNjH_cEUROjTC7KE8J6l5E_GM">here</a>!</h6>
            <hr class="star-light">
            <ol>
                <li>How was the Quran and Hadeeth Complied and Collected? How were they reserved till today?</li>
                <li>What are gender equality concepts in Islamic law?</li>
                <li>Evolution: What are our beliefs regarding the creation of the first man? Animals? The concept of “Be and it is”</li>
                <li>Secular Ethics: Who has the authority to decide what’s right and what’s wrong? Can religion be boxed into only the home and the masjid?</li>
                <li>Women in Islamic History, What were their contributions? What were their roles? There is an eight volume work on female scholars of Hadith. There were many more rulers and queens among and influential contributors in other fields.</li>
                <li>Whats Islam’s perspective on divorce in Islam? What do we do if there are marriage challenges?</li>
                <li>What does Islam say about domestic violence and harassment? How would u address the misconceptions and stereotypes? Why do people think Islam is violent? Why do people think Muslims are misogynists?</li>
                <li>RIBA: What is it and how does it relate to loans and modern finance contracts.</li>
                <li>Marriage: The right ways and wrong ways of going about it. Can he propose before talking to my dad? How do I “get to know” someone without dating?</li>
                <li>Citizenry, Loyalty and Identity: Between faith and nationalism. how to balance our deen and it’s world-wide ummah and our citizenry in a non-Muslim majority country, particularly one at war with Muslim countries.</li>
                <li>Liberal Reform in Islam: Is the Sunnah a source of legislation? What is usul al-fiqh? A high school junior in an Islamic school should be able to give a talk on the sources and methodology of Islamic legislation as well as the fundamental differences between the madhhabs.</li>
                <li>Spirituality – students must learn to detect the signs of a dimming faith and spiritual atrophy,  as well as know the simple methods of haunting and reversing the downward spiral.</li>
                <li>Mental Illness stigma in Muslim community: Its a major barrier for individuals with mental illnesses. What are the attitudes, stereotypes, prejudice, discrimination against it? Why is it so? What can we do about it? How can we be more accepting of it so our fellow Muslims don’t feel excluded.</li>
                <li>Why is our ummah so divided? Why are Muslims all around the world getting attacked? What can we do about it? How can we expect others to change if we can’t change ourselves?</li>
                <li>What is the status of parents in Islam? How should we treat them? Compare our Islamic teachings with the western culture.</li>
            </ol>
        </div>
    </div>
    

     <!-- Footer -->
     <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                        <div class="footer-col">
                                <h3>Follow us Here</h3>
                                <ul class="list-inline">
                                    <li>
                                        <a href="https://www.facebook.com/tamkeenyouth/" class="btn-social btn-outline hvr-pop"><i class="fa fa-fw fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCLUKG-xZKRTI8YI2nmOAi7g" class="btn-social btn-outline hvr-pop" target="_blank"><i class="fa fa-fw fa-youtube"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/tamkeenyouth" class="btn-social btn-outline hvr-pop" target="_blank"><i class="fa fa-fw fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                    <div class="col-lg-12">
                        Copyright &copy; Tamkeen 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static "js/main.js" %}"></script>
</body>
</html>