{% load static %}


<link href="{% static "/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

<div class="login-page .text-center">
  <div class="form">
    <img class="img-responsive animated" src="{% static "images/logo.png" %}" alt="" width="70">
    <h1>Thank you for your paytment</h1>
    <h4>Please contact Abdelrahman Elbarbary in case you have not receieved any emails</h2>
    <h4><a href="mailto:abdelrahman.elbarbary@gmail.com">abdelrahman.elbarbary@gmail.com</a> - 206-556-8092</h4>

    <a href="http://www.tamkeen.us"><input type='button' value='Home' class='btn btn-primary checkout'/></a>
</div>
</div>
