{% load static %}

<link href="{% static "/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

<!-- Theme CSS -->
<link href="{% static "css/freelancer.css" %}"  rel="stylesheet">
<link rel="stylesheet" href="{% static "css/product-lists/product-list-vertical.css" %}">
<link rel="stylesheet" href="{% static "css/image-lists/image-list-basic.css" %}">

<!-- Custom Fonts -->
<link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

{% if event_images %}
<ul class="image-list-basic">
  {% for image in event_images %}
  <li>
      <a href="#" style="background-image: url('{{image.image.url}}');"></a>

      <div class="image-details">
          <h3>{{ image.description }}</h3>
      </div>

      <div class="image-buttons">
          <a href="{{image.image.url}}" class="add-to-collection"><i class="fa fa-expand"></i></a>
      </div>
  </li>
  {% endfor %}
</ul>

{% else %}
    <p>No galleries are available.</p>
{% endif %}
