{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Header -->
    <header style="background: url('{% static 'images/bg1.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive animated pulse" src="{% static "images/logo.png" %}" alt="">
                    <div class="intro-text">
                        <span class="name">تمكيــــــــــــن</span>
                        <span class="name">TAMKEEN</span>
                        <span class="skills">BUILDING A MUSLIM</span><br/>
                        <hr class="star-light">
                        <a href="https://goo.gl/forms/g2jV373B1a9s2uBd2" class="btn btn-danger register" role="button" target="_blank">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Events Grid Section -->
    <section id="events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Coming Events</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              {% if event_list %}
              <ul class="product-list-vertical">
                {% for event in event_list %}
                <li style="background:{% if event.gender %}#ffbff7{% else %}#c3e2fb{% endif %}">

                  <a href="{{event.registeration_link}}" class="product-photo">
                      <img src="{{event.flyer.url}}" width="200" alt="{{ event.name }}" />
                  </a>

                  <div class="product-details">
                      <a href="{{event.registeration_link}}" class="product-compare"></a>

                      <h2><a href="{{event.registeration_link}}">{{ event.name }}</a></h2>

                      <label>{{ event.date_time }}</label>

                      <p class="product-description">{{ event.description}}</p>

                      <button onclick="window.open('{{ event.registeration_link }}', '_blank') ;">Register Now!</button>
                      <p class="product-price">${{ event.price }}</p>
                  </div>

                </li>
                {% endfor %}
              </ul>

              {% else %}
                  <p style="text-align: center; color: red;">Our Next Event Is Coming Soon.</p>
              {% endif %}
        </div>
      </div>
    </section>

    <section id="question" style="background-color:rgb(212, 245, 255)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Question of the week</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              {% if question_list %}
                {% for question in question_list %}
                  <div class="panel panel-default">
                      <div class="panel-heading question">
                        {% if question.image|length > 0 %}
                        <div class="text-center">
                          <img src="{{question.image.url}}"  alt="{{ question.text }}" />
                        </div>
                        {% endif %}
                        <div>
                          <Strong>Question: </Strong> {{ question.text }}
                        </div>
                        {% if question.link|length > 0 %}
                        <p class="text-center">
                          <a href="{{question.link}}">
                              <img src="{% static "images/video.png" %}" width="200"/>
                          </a>
                        </p>
                        {% endif %}
                        <div>
                          <font style="font-size:10pt; color: gray">{{question.date_time}}</font>
                        </div>
                          <font style="font-size:10pt; color:gray"> Number of Answers:</font> <span class="badge">{{question.answers_count}}</span>
                        </div>
                      <div class="panel-body">

                          <ul class="form-style-1">
                            <li>
                                <label>Name <span class="required">*</span></label>
                                <input type="text" id="name-{{question.id}}" class="field-long" />
                            </li>

                            <li>
                                <label>Your Answer <span class="required">*</span></label>
                                <textarea name="answer" id="answer-{{question.id}}" class="field-long field-textarea" ></textarea>
                                <input type="text" id="question-id" class="field-long" value="{{ question.id }}" style="display:none;" />
                            </li>
                            <li>
                                <div class="alert alert-success collapse" id="answer-success-{{question.id}}">
                                  <strong>Success!</strong> Your answer was submitted successfully.
                                </div>
                                <div class="alert alert-danger collapse" id="answer-error-{{question.id}}">
                                  <strong>Error!</strong> Please contact the system adminitrator.
                                </div>
                                <button class="btn btn-primary" id="submitAnswer" onClick="answer_question( {{question.id}} )"> Submit </button>
                            </li>
                        </ul>
                      </div>
                  </div>
                {% endfor %}
              <div style="text-align:center;">
                {% else %}
                    <p>No Questions are available.</p>
                {% endif %}
                <input class="btn btn-danger" type="button" value="Results" onclick="window.location='questionsHistory';" />
              </div>
        </div>
    </section>

    <!-- Mission -->
    <section class="mission" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our Mission</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We believe that raising a healthy family is a community responsibility. And it must start with our children. At TAMKEEN we focus our full attention and effort on building strong young Muslims boys and girls. </p>
                </div>
                <div class="col-lg-4">
                    <p>We believe that children are like plants: If you over-water them, they will yellow and die but you also can’t underwater them or nothing will come to fruition. You have to help the plant/child along by gently guiding and often letting it get a little wild for the best results.</p>
                </div>

            </div>
        </div>
    </section>

    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our Strategy</h2>
                    <hr class="star-primary">
                    <img  src="{% static "images/logo.png" %}" alt="" width=100 style="margin:10px">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                  <blockquote>
                  <p>“Indeed there is a tree that does not shed its leaves, it resembles a Muslim. So tell me, which is it?”
                  So people started discussing the trees of the country side. ‘Abdullaah ibn ‘Umar said:

                  “I thought to myself that it was the date palm tree, but I was shy [and did not speak up].”

                  So they asked the Messenger – صَلَّى اللَّه عَلَيْهِ وَسَلَّمَ: “Tell us what it is O Messenger of Allah.”
                  He said: “It is the date palm tree.” The Messenger of Allah (ﷺ)</p>
                  </blockquote>

                  <p>
                    This beautiful saying of the prophet inspired us to design our logo as well as defining our strategy. At TAMKEEN, we believe that there are five important qualities a Muslim should strive to attain.
                  </p>
                </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="{% static "images/heart.png"%}" alt="..." width=100px>
                  <div class="caption">
                    <h3 style="text-align:center">Pure Heart</h3>
                    <p>The Prophet salallaahu ‘alayhi wa sallam said about your heart: Truly in the body there is a morsel of flesh which, if it be sound, all the body is sound and which, if it be diseased, all of it is diseased. Truly it is the heart. At TAMKEEN, Helping our children to have a pure and caring heart is one of our first priorities</p>
                    </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="{% static "images/brain.png"%}" alt="..." width=100px>
                  <div class="caption">
                    <h3 style="text-align:center">Wisdom</h3>
                    <p>In order to start moving in life you first need to have knowledge; with that knowledge you can define if something is important or not. Then it is up to you to make the move. Our Islamic studies classes help student understand Islam more to help them take wiser decisions in life</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="{% static "images/body.png"%}" alt="..." width=100px>
                  <div class="caption">
                    <h3 style="text-align:center">Strong Body</h3>
                    <blockquote>
                    <p style="text-align:center">"The strong believer is better and more beloved to Allah than the weak believer". Prophet (pbuh) </p>
                    </blockquote>
                    <p>At TAMKEEN, We plan a variety of physical activities in which our young boys and girls have the chance to play in a fun and safe environment and get stronger everyday</p>
                    </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <img src="{% static "images/team.png"%}" alt="..." width=100px>
                  <div class="caption">
                    <h3 style="text-align:center">Teamwork</h3>
                    <blockquote>
                    <p style="text-align:center">"And hold firmly to the rope of Allah all together and do not become divided." Surat Ali 'Imran [verse 103]    </p>
                    </blockquote>
                    <p>Teamwork is the oil that makes the team work. It can enable smoother movement towards targets, can prolong forward momentum, and can help teams to overcome obstacles. Allah commanded the believers in many verses in the Quran to be united and act as one.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <img src="{% static "images/fun.png"%}" alt="..." width=100px>
                  <div class="caption">
                    <h3 style="text-align:center">Fun</h3>
                    <p>Kids learn to best when they are having fun and are actively engaged as they observe more. Lots of research underline the importance of play, especially in the early years. Our fun activities will help the children engage with each other, improve their social skills and enhance their brain capabilities.</p>
                  </div>
                </div>
              </div>

            <div>

            <br>


        </div>
    </section>

    <section class="mission" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our Partners</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2" style="text-align:center">
                   <img src="{% static "images/ymca.png"%}" alt="...">

                </div>
                <div class="col-lg-4" >
                    <p>Most of TAMKEEN indoor activities are sponsored by the <a href="https://www.northshoreymca.org/"> Northshore YMCA </a>. Usually, we run all the activities Saturdays afternoon right after the TAMKEEN halaqa. YMCA provides a place full of opportunities for kids to develop into smart resilient adults, and to improve their health. Whether its basketball or indoor soccer, whether it is a movie night or a cooking class, the YMCA has been the home of many of these activities.</p>
                </div>

            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 vertical-center" style="align-items:center">
                  <img src="{% static "images/learning-logo.png"%}" alt="...">
                </div>
                <div class="col-lg-4">
                    <p>TAMKEEN partners with Boys Scout of America to bring the "Learning for Life (LFL)" program to our youth (boys and girls 10 years old and up to 21). Boys Scout of America provides training to our volunteers, provides resources, and covers our activities with its "Comprehensive General Liability Insurance". This coverage provides protection for the LFL office, all LFL professionals and employees, Explorer posts or LFL groups, participating organizations, and volunteer adult participants with respect to claims arising in the performance of their duties in LFL.</p>
                    <p>Each child is supposed to fill an application before participating in any of TAMKEEN activities</p>
                    <p>
                      <a href="https://goo.gl/forms/g2jV373B1a9s2uBd2" class="btn btn-danger" role="button" target="_blank">Register</a>
                    </p>
                </div>
            </div>


        </div>
    </section>

    <!-- What we focus on -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our Organizational Strucure</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <blockquote>
                    <p>When three persons set out on a journey, they should appoint one of them as their leader. The Messenger of Allah (ﷺ)</p>
                    </blockquote>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-lg-offset-2 text-center">
                  <img src="{% static "images/organization.png" width=100 %}" />
              </div>
                <div class="col-lg-4 ">
                    <p>In order to improve the productivity and motivation of TAMKEEN youth in all the five dimensions mentioned above ( Heart, Wisdom, Body, Teamwork and Fun ), we make sure that our youth are assembled into small teams. Each team consists of six members with one leader. The leader's responsibility is to advance each team member spiritually, physically and socially. More specifically, the team leader' responsibility is (1) to monitor the attendance and participation of team members, (2) to advise and correct the behavior within the team (3) to improve communication among team members, (4) to facilitate communication across teams, and (5) to transfer leadership skills to other members.</p>

                    <p>Creating small groups includes: Improves morale and leadership skills, Finds the barriers that thwart creativity, Clearly defines objectives and goals, Improves processes and procedures, Improves organizational productivity, Identifies team's strengths and weaknesses and Improves the ability to solving problems.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">

                </div>
            </div>
        </div>
    </section>

{% endblock %}
