{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{% static "images/logo.png" %}" alt="">
                    <div class="intro-text">
                        <span class="name">تمكيــــــــــــن</span>
                        <span class="name">Tamkeen</span>
                        <hr class="star-light">
                        <span class="skills">Empower our children for brighter future</span><br/>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Events Grid Section -->
    <section id="events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Coming Events</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              {% if event_list %}
              <ul class="product-list-vertical">
                {% for event in event_list %}
                <li>

                  <a href="#" class="product-photo">
                      <img src="/{{event.flyer.url}}" width="200" alt="{{ event.name }}" />
                  </a>

                  <div class="product-details">
                      <a href="#" class="product-compare"></a>

                      <h2><a href="#">{{ event.name }}</a></h2>

                      <label>{{ event.date_time }}</label>

                      <p class="product-description">{{ event.description}}</p>

                      <button onclick="window.open('{{ event.registeration_link }}', '_blank') ;">Register Now!</button>
                      <p class="product-price">${{ event.price }}</p>
                  </div>

                </li>
                {% endfor %}
              </ul>

              {% else %}
                  <p>No coming events are available.</p>
              {% endif %}
        </div>
      </div>
    </section>

    <section id="portfolio" class="gallery">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Gallery</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              {% if gallery_list %}
              <ul class="image-list-basic">
                {% for gallery in gallery_list %}
                <li>
                    <a href="#" style="background-image: url('/{{gallery.image.url}}');"></a>

                    <div class="image-details">
                        <h3>{{ gallery.description }}</h3>
                        <p> {{gallery.since}} days ago</p>
                    </div>

                    <div class="image-buttons">
                        <a href="{% url 'members:gallery' gallery.id %}" class="add-to-collection"><i class="fa fa-folder"></i></a>
                    </div>
                </li>
                {% endfor %}
              </ul>

              {% else %}
                  <p>No galleries are available.</p>
              {% endif %}

            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Tamkeen ecourages the muslim youth to be active and help build their physical, mental and social strength. At the Tamkeen, we are also supporting the values and programs that strengthen our Muslim community.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you are 4 years old or 25 years old, you are going to find activities and friends that make you have great time and aquire valuable knowledge. Join us and be a Tamkeen follower  </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="join" class="btn btn-lg btn-outline">
                        <i class="fa fa-pencil"></i> Join Tamkeen
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
