{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Header -->
    <header style="background: url('{% static 'images/bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive effect" src="{% static "images/logo.png" %}" alt="">
                    <div class="intro-text">
                        <span class="name">تمكيــــــــــــن</span>
                        <span class="name">Tamkeen</span>
                        <hr class="star-light">
                        <span class="skills">Empower our children for brighter future</span><br/>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Events Grid Section -->
    <section id="events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Coming Events</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              {% if event_list %}
              <ul class="product-list-vertical">
                {% for event in event_list %}
                <li style="background:{% if event.gender %}#ffbff7{% else %}#c3e2fb{% endif %}">

                  <a href="{{event.registeration_link}}" class="product-photo">
                      <img src="{{event.flyer.url}}" width="200" alt="{{ event.name }}" />
                  </a>

                  <div class="product-details">
                      <a href="{{event.registeration_link}}" class="product-compare"></a>

                      <h2><a href="{{event.registeration_link}}">{{ event.name }}</a></h2>

                      <label>{{ event.date_time }}</label>

                      <p class="product-description">{{ event.description}}</p>

                      <button onclick="window.open('{{ event.registeration_link }}', '_blank') ;">Register Now!</button>
                      <p class="product-price">${{ event.price }}</p>
                  </div>

                </li>
                {% endfor %}
              </ul>

              {% else %}
                  <p style="text-align: center; color: red;">Our Next Event Is Coming Soon.</p>
              {% endif %}
        </div>
      </div>
    </section>

    <section id="question" style="background-color:rgb(212, 245, 255)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Question of the week</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              {% if question %}
              <form action="/" method="post" enctype="multipart/form-data" style="border:1px; border-color:black;">
                {% csrf_token %}
                <ul class="form-style-1">
                    <li>
                      <label>Question: </label>
                      <textarea disabled name="field5" id="field5" class="field-long field-textarea">{{ question.0.text }}</textarea>
                    </li>
                    <li>
                        <label>Name <span class="required">*</span></label>
                        <input type="text" name="name" class="field-long" />
                    </li>

                    <li>
                        <label>Your Answer <span class="required">*</span></label>
                        <textarea name="answer" id="answer" class="field-long field-textarea"></textarea>
                        <input type="text" name="question-id" class="field-long" value="{{ question.0.id }}" style="display:none;" />
                    </li>
                    <li>
                        <input type="submit" value="Submit" />

                    </li>
                </ul>
              </form>
              <div style="text-align:center;">
                {% else %}
                    <p>No Questions are available.</p>

                {% endif %}
                <input style="background:red; color:white;" type="button" value="Results" onclick="window.location='questionsHistory';" />
              </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Tamkeen ecourages the muslim youth to be active and help build their physical, mental and social strength. At the Tamkeen, we are also supporting the values and programs that strengthen our Muslim community.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you are 4 years old or 25 years old, you are going to find activities and friends that make you have great time and aquire valuable knowledge. Join us and be a Tamkeen follower  </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="join" class="btn btn-lg btn-outline">
                        <i class="fa fa-pencil"></i> Join Tamkeen
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
