{% load static %}
{% if GOOGLE_ANALYTICS_PROPERTY_ID %}
  {% include "ga.html" %}
{% endif %}
<link href="{% static "css/login.css" %}"  rel="stylesheet">

<div class="login-page">

  <div class="form">
    <img src="{% static "images/openyourheart.png" %}" alt="" width="100px">
    <h4 style="color:green">You can send the messsage anonymously by leaving the name and email fields blank</h4>
    <h1>Open Your Heart</h1>
<form action="" method="post" class="login-form">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send" />
</form>
</div>
</div>
