{% load static %}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<link href="{% static "/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/profile.css" %}">

<div class="slide-container">

  <div class="wrapper">
    <div class="clash-card barbarian">
      <div class="clash-card__image clash-card__image--barbarian">
        <img src="{{user.photo.url}}" width="200px" class="borderimg" />
      </div>
      <div class="clash-card__level clash-card__level--barbarian">{{user.title}}</div>
      <div class="clash-card__unit-name">{{user.first_name}} {{user.last_name}}</div>
			<p style="margin-top:10px"><strong>Skills: </strong>
                    {% if skills %}
                      {% for s in skills %}
                          <span class="tags">{{s}}</span>
                      {% endfor %}
                    {% endif %}
      </p>
			<a href="/password/change">Change password</a>
			<div class="clash-card__unit-description">
      </div>

      <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
        <div class="one-third">
          <div class="stat">{{answers_count}}</div>
          <div class="stat-value">Quiz Answers</div>
        </div>

        <div class="one-third">
          <div class="stat">{{awards_count}}</div>
          <div class="stat-value">Awards</div>
        </div>

        <div class="one-third no-border">
          <div class="stat">0</div>
          <div class="stat-value">Yellow Cards</div>
        </div>

      </div>

    </div> <!-- end clash-card barbarian-->
  </div> <!-- end wrapper -->

</div> <!-- end container -->
