{% load static %}
<link rel="stylesheet" href="{% static "css/product-lists/product-list-basic.css" %}">
<link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static "css/user-profiles-lists/user-profiles-list-small.css" %}">
<link href="{% static "/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

<!-- Theme CSS -->
<link href="{% static "css/freelancer.css" %}"  rel="stylesheet">
<link href="{% static "css/question.css" %}"  rel="stylesheet">

<section style="padding:20px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Score Board</h2>
                <hr class="star-primary">
            </div>
        </div>
        {% if questions %}
          <div class="row">
          {% for question in questions%}
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail question-result">
                  <span class = "label label-default" >{{question.date_time}}</span>

                  <img style="margin-top:20px" width=100 src="{% static "images/person.png" %}" alt="{{question.rank}}" title="{{question.rank}}"/>
                  <div style="text-align:center">
                       <span>Score</span>
                       <span class="product-stars" style="width: 90px" >
                          {% for i in scoreRange %}
                             <i class="fa fa-star"></i>
                          {% endfor%}
                      </span>
                  </div>
                  <div class="caption">
                    <h3 style="text-align:center">{{question.name}}</h3>
                    <button type="button" class="btn btn-info btn-show-more" data-toggle="collapse" data-target="#question{{question.id}}">Show Question</button>
                    <div id="question{{question.id}}" class="collapse">
                      <p><strong><font style="color: red">Q: </font></strong>{{question.text}}</p>
                    </div>

                    <button type="button" class="btn btn-info btn-show-more" data-toggle="collapse" data-target="#answer{{question.id}}">Show Answer</button>
                    <div id="answer{{question.id}}" class="collapse">
                      <p><strong><font style="color: red">A: </font></strong>{{question.answer}}</p>
                    </div>
                  </div>
                </div>
              </div>
          {% endfor%}
          </div>
        {% else %}
              <p style="text-align: center; color: red;">No scores found</p>
        {% endif %}
    </div>
</section>

{% if personList %}
<div class="row">
<ul class="user-profiles-list-small">
    {% for person in personList %}
    <div class="col-sm-6 col-md-4">
      <li>
          <div class="user-avatar">
                  <img src="{% static person.rankImage %}" width="48" alt="Rank of {{person.name}}" />
          </div>

          <p class="user-name">
              <span>{{ person.name }}</span>
              <span>Total Points: {{person.score}} </span>
          </p>
      </li>
    </div>
    {% endfor %}
</ul>
</div>
{% endif %}
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
