{% load static %}
<link rel="stylesheet" href="{% static "css/product-lists/product-list-basic.css" %}">
<link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static "css/user-profiles-lists/user-profiles-list-small.css" %}">


{% if questions %}
  <ul class="product-list-basic">
        {% for question in questions%}
          <li>
              <p href="#" class="product-compare">{{question.date_time}}</p>
              <div class="product-photo">
                  <!-- <img src="" height="130" alt="iPhone 6" /> -->
                  <h1>{{question.name}}</h1>
                  <p href="#" class="product-compare">Total points: {{question.totalPoints}}</p>
                  <img width=100 src="{% static question.rankImage %}" alt="{{question.rank}}" title="{{question.rank}}"/>

              </div>

              <p class="product-description"><strong><font style="color: red">Q: </font> {{question.text}}</strong></p>

              <p class="product-description"><font style="color: red">A: </font> {{question.answer}}</p>

              <div class="product-rating">
                  <div>
                          <span>Question Points:</span>
                          <span class="product-stars" style="width: 90px" >
                              {% for i in scoreRange %}
                                <i class="fa fa-star"></i>
                              {% endfor%}
                          </span>
                  </div>
              </div>
          </li>
        {% endfor %}
  </ul>

{% else %}
    <p style="text-align: center; color: red;">No scores found</p>
{% endif %}

{% if personList %}
<ul class="user-profiles-list-small">
    {% for person in personList %}
      <li>
          <div class="user-avatar">
                  <img src="{% static person.rankImage %}" width="48" alt="Rank of {{person.name}}" />
          </div>

          <p class="user-name">
              <span>{{ person.name }}</span>
              <span>Total Points: {{person.score}} </span>
          </p>
      </li>
    {% endfor %}
</ul>
{% endif %}
