{% load static %}
{% if GOOGLE_ANALYTICS_PROPERTY_ID %}
  {% include "ga.html" %}
{% endif %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tamkeen</title>
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

    <!-- Bootstrap Core CSS -->
    <link href="{% static "/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Theme CSS -->
    <link href="{% static "css/styles.css" %}"  rel="stylesheet">
    <link href="{% static "css/question.css" %}"  rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/product-lists/product-list-vertical.css" %}">
    <link rel="stylesheet" href="{% static "css/image-lists/image-list-basic.css" %}">
    <link rel="stylesheet" href="{% static "css/product-lists/product-list-basic.css" %}">
    <link rel="stylesheet" href="{% static "css/animate.css" %}">

    <!-- Custom Fonts -->
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default  navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Tamkeen Library</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li class="page-scroll">
                        <a href="/">Home</a>
                    </li>
                 </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
  </body>


<ul id="list" class="product-list-vertical">
    {% for e in events %}
    <li>
     <a href="${cover_page}" class="product-photo">
         <img src="{{e.image.url}}" height="160" alt="iPhone 6" />
     </a>

     <div class="product-details">

         <h2>{{e.name}}</h2>
         <p><h3 style="color:gray; font-size:12PX">{{e.tags}}</h3></p>
         <p><h7>{{e.date_time}}</h7></p>

         <p><h7>{{e.location}}</h7></p>

         <p><h7>${{e.fees}}</h7></p>


         <p class="product-price">
           <span style="font-size:10; margin-left:10pt">
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="amount" value="{{e.fees}}">
              <input type="hidden" name="item_name" value="{{e.name}}">
              <input type="hidden" name="return" value="http://tamkeen.us/events/thank-you/{{e.id}}">
              <input type="hidden" name="hosted_button_id" value="PGHVZ2DWQNMAW">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>


           </span>

        </p>

     </div>

     </li>
     {%endfor%}


</ul>

<!-- jQuery -->
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>



<!-- Theme JavaScript -->
<script src="{% static "js/main.js" %}"></script>
