{% extends 'dashboard_base.html' %}
{% load static %}
{% block content %}
<link href ="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
<script data-cfasync="false" type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<div class="row">

    <div class="col-md">
        <div class="card">
            <div class="card-header bg-light">
                Passengers
            </div>

            <div class="card-body">
              <div class="alert alert-success" id="success-alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Success! </strong>
                Drive safe my brother :-)
            </div>
              <button type="button" class="btn btn-warning"
                style="width:100%" id="drive-button" onclick='drive()'>
                  <i class="fa fa-car"></i>&nbsp; Drive
              </button>
                <div class="table-responsive">
                    <table class="table table-striped" id="passengers_table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Driver</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                          {% for p in passengers %}
                          <tr>
                              <td class="text-nowrap">{{p.passenger_name}}</td>
                              <td id="driver-{{p.id}}">{{p.driver_name}}</td>
                              <!-- <td><a href="http://tamkeen.us/admin/members/profile/{{.id}}/change/"><i class="fa fa-car"></i></a></td> -->
                              <td>
                                <button type="button" class="btn btn-secondary"
                                      onclick='carpool({{p.id}}, this)'>
                                    <i class="fa fa-check"></i>
                                </button>
                              </td>
                          </tr>
                          {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
  $("#success-alert").hide();

  var t = $('#passengers_table').DataTable({
    paging: false,
    ajax: "",
    createdRow: function ( row, data, index ) {
            console.log(data);
            if ( data[1] != 'None') { // if checked-out
              $(row).css("background-color", "#d5f49e");
              $(row).find("input,button,textarea,select").attr("disabled", "disabled");
            }
        }
  });
});

function carpool(passenger_id, element)
{
  data = { passengerId: passenger_id }
  $.ajax({
      type: "POST",
      url: "/dashboard/api/carpool/",
      data: JSON.stringify(data),
      success: function(result) {
        console.log(result);
        var driver_td = $(element).closest('#driver_td');
        driver_td = $("#driver-" + passenger_id);
        console.log(driver_td);
        driver_td.html(result.driver);
        var tr = $(element).closest('tr');
        tr.css("background-color", "#d5f49e");
        tr.find("input,button,textarea,select").attr("disabled", "disabled");
      },
      error: function(xhr, status, error) {
        console.log(error);
      }
  });
}

function drive()
{
  $.ajax({
      type: "POST",
      url: "/dashboard/api/carpool/drive",
      success: function(result) {
        $("#drive-button").attr("disabled", "disabled");
        $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
          $("#success-alert").slideUp(500);
        });
      },
      error: function(xhr, status, error) {
        console.log(error);
      }
  });
}
</script>

{% endblock %}
