{% extends 'dashboard_base.html' %}
{% load static %}
{% block content %}
<link href ="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
<script data-cfasync="false" type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<div class="row">

    <div class="col-md">
        <div class="card">
            <div class="card-header bg-light">
                Passengers
            </div>

            <div class="card-body">
              <div class="alert alert-success" id="success-alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Success! </strong>
                Drive safe my brother :-)
            </div>
              <button type="button" class="btn btn-warning"
                style="width:100%" id="drive-button" onclick='drive()'>
                  <i class="fa fa-car"></i>&nbsp; Drive
              </button>
                <div class="table-responsive">
                    <table class="table table-striped" id="passengers_table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Passenger</th>
                            <th>Driver</th>
                            <th>Driver's Phone</th>
                        </tr>
                        </thead>
                        <tbody>
                          {% for p in passengers %}
                          <tr>
                              <td class="text-nowrap" id="passenger_id">{{p.passenger_id}}</td>
                              <td class="text-nowrap">{{p.passenger_name}}</td>
                              <td id="driver-{{p.id}}">
                                <select name="item_id">
                                  <option value=0 selected >Select a driver</option>
                                  {% for p1 in passengers %}
                                    <option value="{{ p1.passenger_id }}" {% if p1.passenger_name == p.driver_name %} selected {% endif %}>{{ p1.passenger_name }}</option>
                                  {% endfor %}
                                  </select>
                              </td>
                              <td>
                                {% if p.driver_phone %}
                                  <a href="tel:{{p.driver_phone}}"><img src="{% static "images/phone.png" %}" width=40px /></a>
                                {% endif %}
                              </td>
                          </tr>
                          {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  $(document).ready(function() {
    $("#success-alert").hide();

  });

  // $(function(){
  //     setInterval(refreshCarpoolList, 60000);
  //   });
  //
  //   function refreshCarpoolList() {
  //     location.reload();
  //   }

  function drive()
  {
      data= []

      $('#passengers_table tbody tr').each(function (i, row) {

          var driver_id = $(row).find(":selected").val();
          var passenger_id = $(row).find("#passenger_id").text();
          data.push(
            {
              "passenger_id": passenger_id,
              "driver_id" : driver_id
            });
      });
      console.log(data);

      $.ajax({
          type: "POST",
          url: "/dashboard/api/carpool/drive",
          data: JSON.stringify(data),
          success: function(result) {

            $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
              $("#success-alert").slideUp(500);
            });
            console.log(result);
          },
          error: function(xhr, status, error) {
            console.log(error);
          }
      });
  }
</script>

{% endblock %}
