{% extends 'dashboard_base.html' %}
{% load static %}
{% block content %}
<link href ="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
<script data-cfasync="false" type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(function() {
    var t = $('#example').DataTable({
      paging: false,
      ajax: ""
    });
  });
</script>

<a href="/dashboard/quiz/history"><input type='button' value='Back' class='btn btn-primary checkout'/></a>
<table id="example" class="display" cellspacing="0" width="100%">
          <thead>
              <tr>
                  <th>User</th>
                  <th>Answer</th>
              </tr>
          </thead>
          <tbody>
          {% for r in results %}
                <td>
                  {% if r.share_with_others %}
                      {{r.user_name}}
                  {% else %}
                     Anonymous
                  {% endif %}
                </td>
                <td>{{r.answer}}</td>
              </tr>

          {%endfor%}
          </tbody>

      </table>

{% endblock %}
