{% extends 'dashboard_base.html' %}
{% load static %}
{% block content %}
<link href ="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
<script data-cfasync="false" type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


<script>
$(document).ready(function() {
  var t = $('#example').DataTable({
    paging: false,
    order: []
  });
});
</script>

<table id="example" class="display" cellspacing="0" width="100%">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Number Of Questions</th>
                  <th>Number of Answers</th>
              </tr>
          </thead>
          <tbody>
          {% for r in results %}
            <tr>
              <td><a href="/dashboard/quiz/{{r.id}}">{{r.name}}</a></td>
              <td>{{r.date_time}}</td>
              <td>{{r.question_count}}</td>
              <td>{{r.answer_count}}</td>
            </tr>
          {%endfor%}
          </tbody>

      </table>


  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>

{% endblock %}
