{% load static %}
{% load i18n %}

{% block content %}

<link href="{% static "css/login.css" %}"  rel="stylesheet">
<div class="login-page">
  <div class="form">
    <form method="post" action="." class="login-form">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="{% trans 'Log in' %}" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <!-- <p class="message">Not registered? <a href="/accounts/register">Create an account</a></p> -->
</div>
</div>
{% endblock %}
